// Cores Oficiais DSGOV (Azul Marinho e Cinza Neutro)
$primary-color: #1351b4;   // Blue-warm-vivid-70 (União)
$secondary-color: #f8f8f8; // Gray-2
$text-color: #333333;      // Gray-80
$font-main: 'Rawline', 'Raleway', Arial, sans-serif; // Fonte padrão DSGOV
$base-padding: 16px;
$border-radius-base: 4px;

// Variáveis extras para hover (padrão DSGOV)
$primary-hover: #0c326d;